/* body {
    background-color: black;
} */

/* #words {
    color: #33FF33;
    font-size: large;
    font-family: monospace;
    text-align: center;
    margin-top: 250px;
} */

/* #word {
    font-size: 40px;
} */
/* #newgame {
    background-color: black;
    color: #33FF33;
    border: 2px solid #33ff33;
    font-family: monospace;
} */

/* #newgame {
    background-color: black; 
    border: 2px solid #33ff33;
    color: #33ff33;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  } */


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    /* background: #2B292E; */
    background: black;
    /* color: #fafafa; */
    color: #33ff33;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: monospace;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#logo {
    display: block;
    position: fixed;
    top: 50px;
    left: 415px;
}

span {
    /* border-bottom: 1px solid #534f59; */
    display: inline-block;
    font-size: 4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

p {
    font-weight: 300;
    margin-bottom: .8rem;
    font-size: 2.5rem;
    text-align: center;
}


.puzzle {
    display: flex;
    margin-bottom: 4.8rem;
    text-align: center;
    justify-content: center;
}

.button {
    /* background: #7044a0; */
    background: black;
    /* border: none; */
    border: 1.5px solid #33ff33;
    /* border-bottom: 2px solid #603a88; */
    cursor: pointer;
    /* color: white; */
    color: #33ff33;
    font-family: monospace;
    font-size: 2.4rem;
    font-weight: 300;
    padding: .8rem;
}

#quit:hover {
    /* background: #5F3A87; */
    background: rgb(235, 43, 43);
    border-color: rgb(235, 43, 43);
    color: black;
    transform: scale(1.1);
    transition: background .3s ease, 
                color .2s ease, 
                border-color .2s ease,
                transform .2s ease;
}

#reset:hover {
    /* background: #5F3A87; */
    background: #33ff33;
    color: black;
    transform: scale(1.1);
    transition: background .3s ease, 
                color .3s ease, 
                transform .2s ease;
}

#endgameQ {
    transform: scale(0);
    transition: all .5s ease-out;
}

#endgameR {
    transform: translateX(50px);
    transition: all 1s ease-out;
}

#endgameR:hover {
    background: #33ff33;
    color: black;
    transform: scale(1.1) translateX(50px);
    transform-origin: center;
    transition: background .3s ease, 
                color .3s ease, 
                transform .2s ease-out;
}

.button:focus {
    outline: 0;
}

#reset {
    transform: translateX(-20px);
    transition: all .2s ease-out;
}

#quit {
    transform: translateX(30px); 
    transition: all .2s ease-out;
    animation: quitstart .3s linear;
}

#words {
    text-align: center;
}

@keyframes quitstart {
    0%{
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}